/Cuadrilatero/nbproject/private/
/Cuadrilatero/build/
/Atletas/nbproject/private/
/Atletas/build/
/Banco/nbproject/private/
/Banco/build/
/JavaApplication14/nbproject/private/
/Colegio/nbproject/private/
/Colegio/build/
